<header>
    <nav>
        <a href="/">Logo</a>
        <ul>
            <li><a href="/user">location</a></li>
            <li><a href="/user/new">new Location</a></li>
        </ul>
    </nav>
</header>